body{
    background-color: black;
}

.topbar{


    position: fixed;
    line-height: 50px;
    height: 50px;
}

.topbar a{

    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    transition: color 2s;
    transition: background-color 2s;
}

.topbar a:hover{

    border-color: black;
    color: black;
    background-color: rgba(250, 250, 250, 0.473);
    transition: all 2s;
}

.Main {
    background-image: url('main.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.Main h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: rgb(240, 153, 54);
    margin-left: 250px;
}

.AboutContent h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-left: 350px;
    margin-top: 10px;
}

.AboutContent p{

    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}

.Contact pre{
    font-size: 50px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    line-height: 50px;
}

.instagram{
    margin-left: 90px;
    border-radius: 10px;
    background-color:rgb(248, 155, 170);
    width: 40%;
    height: 400px;
}

.instagram:hover{
    transition: all 1s;
    box-shadow: 0 12px 12px 0 rgba(248, 155, 170, 0.548);
}

.Facebook:hover{
    transition: all 1s;
    box-shadow: 0 12px 12px 0 rgba(9, 58, 150, 0.548);
}

.Twitter:hover{
    transition: all 1s;
    box-shadow: 0 12px 12px 0 rgba(79, 183, 243, 0.548);
}

.whatsapp:hover{
    transition: all 1s;
    box-shadow: 0 12px 12px 0 rgba(79, 243, 79, 0.548);
}

.whatsapp{
    margin-left: 100px;
    border-radius: 10px;
    background-color: rgb(79, 243, 79);
    width: 40%;
    height: 400px;
}

.instagram a{
    margin-top: 100px;
    margin-left: 265px;
}
.whatsapp a{
    margin-top: 100px;
    margin-left: 265px;
}
.Facebook{
    margin-left: 90px;
    border-radius: 10px;
    background-color: rgb(9, 58, 150);
    width: 40%;
    height: 400px;
}
.Twitter{
    margin-left: 100px;
    border-radius: 10px;
    background-color: rgb(79, 183, 243);
    width: 40%;
    height: 400px;    
}
.Facebook a{
    margin-top: 100px;
    margin-left: 265px;
}
.Twitter a{
    margin-top: 100px;
    margin-left: 265px;
}

.card {
    width: 40%;
    background-color: white;
    color: black;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
.card:hover {
    box-shadow: 0 6px 12px 0 rgba(250, 250, 250, 0.548);
  }
.container {
    padding: 2px 16px;
  }
 .card img {
    border-radius: 5px 5px 0 0;
    height: 70%;
  }

  .CAC h1{
      color: white;
      font-family: 'Arial';
      font-size: 80px;
  }